# Ignore bin and obj folders
bin/
obj/

# Ignore .vscode folder
.vscode/

# Ignore .NET Core runtime files
.runtime/

# Ignore NuGet packages
packages/

# Ignore Visual Studio files
.vs/

# Ignore user-specific files
*.suo
*.user
*.userosscache

# Ignore build output
**/build/
**/publish/

# Ignore logs
**/logs/

.idea/